<div class="h-[650px] w-[200px] border-2 border-black flex flex-col gap-3 ">
    <div class="ml-3">
        <h1 class="font-bold text-lg ">Par produit</h1>
        <div class="ml-5">

        <fieldset>
            <input type="checkbox" id="chaussures">
            <label for="chaussures">Chaussures&bottes</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="hauts">
            <label for="hauts">Hauts</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="pantalon">
            <label for="pantalon">Pantalon&legging</label>
        </fieldset>
    </div>

    </div>
    <div class="ml-3">
        <h1 class="font-bold text-lg">Par Couleur</h1>
        <div class="ml-5">

        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="blanc">Blanc</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="noir">Noir</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="vert">Vert</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="bleu">Bleu</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="rose">Rose</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="color"/>
            <label for="gris">Gris</label>
        </fieldset>
        </div>
    </div>
    <div class="ml-3">
        <h1 class="font-bold text-lg">Par Prix</h1>
        <div class="ml-5">

        <fieldset>
            <input type="checkbox" id="lvl1"/>
            <label for="lvl1">0-100TND</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="lvl2"/>
            <label for="lvl2">101-200TND</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="lvl3"/>
            <label for="lvl3">201-300TND</label>
        </fieldset>
        <fieldset>
            <input type="checkbox" id="lvl4"/>
            <label for="lvl4">+300TND</label>
        </fieldset>
        </div>
    </div>
    <button type="reset" class="bg-blue-600 rounded-xl p-2 text-white font-semibold w-[120px] ml-[30px]"(click)="reset()">Reset filters</button>
</div>