<div class="conatiner mt-4 flex justify-center items-center">
  <swiper-container  slides-per-view="1" speed="500" loop="true" pagination="true" navigation="true" class="w-[80%] z-0">
    <swiper-slide>
      <div>
        <img src="/assets/img/43.png" class="w-[100%] h-[270px]"/>
        <p class="z-10 relative left-[15px] top-[-88px] text-2xl font-bold">
          10% de réduction avec le code <span class="text-white">"Sport2024"</span></p>
          <p class="z-10 absolute left-[10px] top-[233px] text-2xl font-semibold">
            *Offres valables jusqu'a 30 Septembre
          </p>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="text-black">
        <img src="/assets/img/63.png" class="w-full z-0 "/>
      </div>
    </swiper-slide>
  </swiper-container>

</div>