<div class="container">

<h1 class="font-bold text-2xl text-center " (click)="showMore(status[0].val)">{{status[0].name}}</h1>
<div class="">
      <swiper-container slides-per-view="4" speed="500" loop="false" pagination="true" navigation="true"
            class="w-[90%] flex justify-center p-6">
            <swiper-slide *ngFor="let product of trending">
                  <dealshop-product-box [product]="product" (addToCart)="onAddToCart($event)"
                        [fullWidthMode]="cols === 4" [discounted]=false></dealshop-product-box>
            </swiper-slide>

      </swiper-container>
</div>
<h1 class="font-bold text-2xl text-center  swiper-2" (click)="showMore(status[1].val)">{{status[1].name}}</h1>
<div class="">
      <swiper-container slides-per-view="4" speed="500" loop="false" pagination="true" navigation="true"
            class="w-[90%] flex justify-center p-6">
            <swiper-slide *ngFor="let product of newly">
                  <dealshop-product-box [product]="product" (addToCart)="onAddToCart($event)"
                        [fullWidthMode]="cols === 4" [discounted]=false></dealshop-product-box>
            </swiper-slide>

      </swiper-container>
</div>

<h1 class="font-bold text-2xl text-center swiper-3" (click)="showMore(status[2].val)">{{status[2].name}}</h1>
<div class="">
      <swiper-container slides-per-view="4" speed="500" loop="false" pagination="true" navigation="true"
            class="w-[90%] flex justify-center p-6">
            <swiper-slide *ngFor="let product of discounted">
                  <dealshop-product-box [product]="product" (addToCart)="onAddToCart($event)"
                        [fullWidthMode]="cols === 4" [discounted]=true></dealshop-product-box>
            </swiper-slide>

      </swiper-container>
</div></div>
